<p id="notice"><%= notice %></p>

<h1>Coin Checks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>
        <a href="/coin_checks">List Orders</a> show current orders
        </td>
      </tr>
        <td>
        <a href="/coin_check/home">Home</a>
        </td>
      <tr>
      
      </tr>
  </tbody>
</table>

<br>
